@{
    ViewData["Title"] = "About XYZ ";
}
<article>
    <div class="p-3 m-2 bg-dark">
        <h2>XYZ Detective Agency</h2>
    </div>
    <div class="row">
        <div class="col-4">
            <img src="~/Images/scooby-and-scrappy.jpg" alt="scooby doo" class="img-fluid rounded-end" />
        </div>
        <p>
            Our agency was founded in 1960 by Scooby and Scrappy Doo.
            The agency expanded in the 1980's across the United States and is now the top
            agency in the midwest.
        </p>
        <p>
            In 2000, the agency expanded to Europe and in 2020, the agency will also be
            in Africa and Austrailia.
        </p>
        </div>
    </div>
</article>
