@{
    ViewData["Title"] = "Contact Us!";
}
<div class="row">
    <div class="col-sm-8">
        <h2>XYZ Detective Agency</h2>
        <h3>Headquarters</h3>
        <address>
            One Sleuthton Ave<br />
            Traverse City, MI 49696<br />
            <abbr title="Phone"><i class="fa fa-mobile-phone" style="font-size:28px"></i></abbr>
            800.555.1111
        </address>
    </div>
    <img src="~/Images/spying.jpg" alt="telescope on deck" class="rounded-circle col-sm-4" />
    <div class="row">
        <div class="col-sm-12 mt-5">
            <a href="mailto:us@xyzdetectives.org" class="list-group-item">United States: us@xyzdetectives.org</a>
            <a href="mailto:europe@xyzdetectives.org" class="list-group-item">Europe: europe@xyzdetectives.org</a>
            <a href="mailto:africa@xyzdetectives.org" class="list-group-item">Africa: africa@xyzdetectives.org</a>
            <a href="mailto:austrailia@xyzdetectives.org" class="list-group-item">Austrailia: australia@xyzdetectives.org</a>
        </div>
    </div>
</div>