@{
    ViewData["Title"] = "XYZ Detective Agency";
}

<div class="jumbotron">
    <h1>XYZ Detective Agency</h1>
</div>
<div class="row">
    <div class="col-6">
    <p class="lead">Discrete, Affordable, Effective, Efficient</p>
        <p>Rated #1 in the midwest</p>
    </div>
    <div class="col-6">
        <img src="~/Images/detective.png"
             alt="detective looking through a magnifying glass"
              class="img-fluid" />
    </div>


</div>
